body {
    background-color: black;
}
#mainHeader {
    color: white;
}
#mainDescription {
    color: white;
}
#mainContainer {
    padding-left: 140px;
}
#logoContainer {
    width: 100px;
    margin: 20px 0px 0px 20px;
    display: inline-block;
    float: left;
    position: fixed;
}
#logoContainer img {
    width: 100%;
}
.pure-form legend {
    color:white;
}
label {
    color:white;
}
#info input {
    width: 200px;
}
#terms {

}
