@import url(http://fonts.googleapis.com/css?family=Lustria); /* font-family: 'Lustria', serif; */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300italic); /* font-family: 'Lato', sans-serif; */
@import 'https://fonts.googleapis.com/css?family=Montserrat';
body {
    background-color: black;
}
#navbar {
    height: 40px;
    background-color: white;
}
#navbar img {
    line-height: 40px;
    height: 30px;
    vertical-align:middle;
    display:inline-block;
}
#mainHeader {
    margin-top: 3px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    display:inline-block;
    line-height: 40px;
}
#mainDescription {
    color: white;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}
#mainContainer {
    margin: 0 10%;
}
.pure-form legend {
    color:white;
    border:0;
}
label {
    color: white;
}
#info input:not(#terms) {
    /*width: 200px;*/
}
form#info {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 500;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
#cardDesc {
    color: white;
    margin-bottom: 4px;
}
#card {
    width: 200px;
    padding: 0px;
    margin: 6px;
}
#cardTitle {
    color: white;
}
