body {
    background-color: black;
}
#mainHeader {
    color: white;
}
#mainDescription {
    color: white;
}
#mainContainer {
    padding-left: 140px;
}
#logoContainer {
    width: 100px;
    margin: 20px 0px 0px 20px;
    display: inline-block;
    float: left;
    position: fixed;
}
#logoContainer img {
    width: 100%;
}
.pure-form legend {
    color:white;
}
label {
    color:white;
}
#state {
    width: 200px;
}
#info input:not(#terms) {
    width: 200px;
}
form#info {
    padding-left: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 300px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
